@import "tailwindcss";

.mark-highlight {
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 1.1;
}
.mark-highlight::after {
  content: '';
  position: absolute;
  left: -0.15em; /* dépasse vers la gauche */
  right: -0.15em; /* dépasse vers la droite */
  bottom: 0.1em;  /* colle bien en bas du mot */
  height: 0.38em;
  background: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}

.sportypo-title {
  font-size: 20px;
}

@media (max-width: 1340px) {
  .sportypo-title { font-size: 16px; }
}

@media (max-width: 1305px) {
  .sportypo-title { font-size: 14px; }
}

@media (max-width: 1115px) {
  .sportypo-title { font-size: 14px; }
}

@media (max-width: 1000px) {
  .sportypo-title { font-size: 10px; }
}
@media (max-width: 760px) {
  .sportypo-title { font-size: 16px; }
}


.highlight-1,
.highlight-2,
.highlight-3,
.highlight-4,
.highlight-5,
.highlight-6,
.highlight-7,
.highlight-8,
.highlight-9,
.highlight-10 {
  position: relative;
  bottom: 14vh;
  right: 12vw;
  z-index: 1;
}

.highlight-1::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 700px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}

.highlight-2::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 620px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}

.highlight-3::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 590px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}

.highlight-4::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 440px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}
.highlight-5::after {
  content: '';
  position: absolute;
  left: -0.4em;
  top: 0.6em;
  width: 450px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}
.highlight-6::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 320px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}
.highlight-7::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 450px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}
.highlight-8::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 440px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}
.highlight-9::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 218px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}
.highlight-10::after {
  content: '';
  position: absolute;
  left: -0.3em;
  top: 0.6em;
  width: 265px;
  height: 0.4em;
  background-color: #FF63CA;
  opacity: 0.85;
  z-index: -1;
}

html, body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  /* background: #0A00C3; */
}

/* body {
  background: #0A00C3;
} */

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Bold.ttf') format('woff2'),
       url('/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal; 
  font-display: swap;
}

.gradient-border-btn {
  position: relative;
  background: transparent;
  border: none;
  border-radius: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 220px; /* Ajuste selon le besoin */
  min-height: 50px;
}

.gradient-border-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 22px;
  padding: 4px; /* = épaisseur de la bordure */
  background: linear-gradient(90deg,#6C12E5 0%,#DA55C9 80%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  z-index: 0;
}

.gradient-border-content {
  position: relative;
  z-index: 1;
  background: transparent;
  color: #DA55C9;
  padding: 0.3em 1.6em;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 20px;
}